@import '../vars';

.form-currencies {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: 80px;

    fieldset {
        background-color: $darkGreen;
        border: 1px solid $white05;
        border-radius: 0px 8px 0px 0px;
        padding: 20px 12px 12px 0px;
        box-shadow: 2px 2px 16px black;
    }

    label {
        margin: 12px 8px 16px;
    }

    input[type=text] {
        border-radius: 6px;
        padding: 4px;
        margin: 0px 12px 4px 8px;
        box-shadow: inset -1px 0px 8px $darkGrey;

        &:hover {
            border: 2px solid gold;
        }

        &:focus {
            border: 1px solid gold;
            box-shadow: 0px 0px 16px gold;
        }
    }

    .text-imp {
        border-right: 1px solid $white05;
        font-size: 16px;
        padding-right: 8px;
    }

    button[type=submit] {
        align-self: flex-end;
        appearance: none;
        border-radius: 4px;
        padding: 4px 8px;

        &:not(:disabled) {

            background-color: gold;
            color: $darkGrey;

            &:hover {
                box-shadow: inset 2px 2px 6px white;
            }

            &:active {
                box-shadow: inset 2px 2px 4px black;
            }
        }

        &:disabled {
            opacity: 0.5;
            background-color: $darkGrey;
            border: 1px solid $white05;
            color: white;
        }
    }
}

.text-imp {
    color: gold;
    font-style: italic;
}

.text-hint {
    padding: 0px 12px 8px;
    opacity: 0.08;
    transform: rotateX(80deg);
    margin: -40px 0px 12px;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out, margin-top 1s ease-in-out, background-color 1s linear;

    &:hover {
        opacity: 1;
        transform: rotateX(0deg);
        margin-top: 12px;
        background-color: rgb(44, 44, 44);
        border: 1px solid $white05;
        border-radius: 0px 0px 8px 8px;
    }

    span {
        display: block;
        font-size: 16px;
        margin-left: 16px;
    }

    h3 {
        font-size: 18px;
        margin: 0px;
        padding: 0px;
        color: gold;

        &+span {
            margin: 0px 0px 8px 8px;
        }
    }
}