.form-currencies {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-top: 80px;
}
.form-currencies fieldset {
  background-color: rgb(39, 56, 41);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0px 8px 0px 0px;
  padding: 20px 12px 12px 0px;
  box-shadow: 2px 2px 16px black;
}
.form-currencies label {
  margin: 12px 8px 16px;
}
.form-currencies input[type=text] {
  border-radius: 6px;
  padding: 4px;
  margin: 0px 12px 4px 8px;
  box-shadow: inset -1px 0px 8px rgb(37, 49, 42);
}
.form-currencies input[type=text]:hover {
  border: 2px solid gold;
}
.form-currencies input[type=text]:focus {
  border: 1px solid gold;
  box-shadow: 0px 0px 16px gold;
}
.form-currencies .text-imp {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 16px;
  padding-right: 8px;
}
.form-currencies button[type=submit] {
  align-self: flex-end;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 4px;
  padding: 4px 8px;
}
.form-currencies button[type=submit]:not(:disabled) {
  background-color: gold;
  color: rgb(37, 49, 42);
}
.form-currencies button[type=submit]:not(:disabled):hover {
  box-shadow: inset 2px 2px 6px white;
}
.form-currencies button[type=submit]:not(:disabled):active {
  box-shadow: inset 2px 2px 4px black;
}
.form-currencies button[type=submit]:disabled {
  opacity: 0.5;
  background-color: rgb(37, 49, 42);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
}

.text-imp {
  color: gold;
  font-style: italic;
}

.text-hint {
  padding: 0px 12px 8px;
  opacity: 0.08;
  transform: rotateX(80deg);
  margin: -40px 0px 12px;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out, margin-top 1s ease-in-out, background-color 1s linear;
}
.text-hint:hover {
  opacity: 1;
  transform: rotateX(0deg);
  margin-top: 12px;
  background-color: rgb(44, 44, 44);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 8px 8px;
}
.text-hint span {
  display: block;
  font-size: 16px;
  margin-left: 16px;
}
.text-hint h3 {
  font-size: 18px;
  margin: 0px;
  padding: 0px;
  color: gold;
}
.text-hint h3 + span {
  margin: 0px 0px 8px 8px;
}/*# sourceMappingURL=style.css.map */