.quotation-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.quotation {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  background-color: rgb(37, 49, 42);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 8px 8px;
  padding: 0px 8px 12px;
  box-shadow: 2px 2px 8px black;
}

.block-quot {
  flex-basis: calc(13% - 32px);
  display: inline-block;
  background: radial-gradient(circle at 6% -90%, rgba(236, 236, 244, 0.8) 42%, rgba(192, 192, 210, 0.8) 60%, rgba(210, 210, 233, 0.5) 100%);
  background-color: rgb(37, 49, 42);
  color: rgb(37, 49, 42);
  border: 1px solid gold;
  border-top: none;
  padding: 4px 8px 8px;
  margin: 0px 16px 16px;
  text-align: center;
  border-radius: 0px 0px 8px 8px;
  box-shadow: 2px 2px 8px black;
}
.block-quot h3 {
  margin: 0px 0px 12px;
  padding: 0px;
}
.block-quot span {
  color: gold;
  font-style: italic;
}/*# sourceMappingURL=style.css.map */