@import './Components/vars';

.app {
  color: white;
}

.block-button-start {
  background-color: rgba(255, 255, 255, 0);
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: stretch;
  position: absolute;
  top: 0px;
  border-left: none;
  left: 0px;
}

.button-start {
  appearance: none;
  padding: 8px 8px 8px 24px;
  border-radius: 0px 8px 0px 0px;
  background-color: $darkGrey;
  border: 1px solid $white05;
  box-shadow: 2px 2px 8px black;
  margin-bottom: 12px;
  color: white;
  display: block;

  &:hover {
    box-shadow: inset -2px -2px 8px gold;
    line-height: 1.5;
  }

  &:active {
    box-shadow: inset -2px -2px 12px black;
  }
}