.app {
  color: white;
}

.block-button-start {
  background-color: rgba(255, 255, 255, 0);
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: stretch;
  position: absolute;
  top: 0px;
  border-left: none;
  left: 0px;
}

.button-start {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 8px 8px 8px 24px;
  border-radius: 0px 8px 0px 0px;
  background-color: rgb(37, 49, 42);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 2px 2px 8px black;
  margin-bottom: 12px;
  color: white;
  display: block;
}
.button-start:hover {
  box-shadow: inset -2px -2px 8px gold;
  line-height: 1.5;
}
.button-start:active {
  box-shadow: inset -2px -2px 12px black;
}/*# sourceMappingURL=App.css.map */