@import '../vars';

.quot-currencies {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 80px;

    h2 {
        display: inline;
        padding: 0px;
        margin: 0px;
        color: gold;
        vertical-align: middle;
    }

    input {
        margin-left: 40px;
        border-radius: 4px;
        max-width: 80px;
    }
}

.quot-currencies-header {
    margin-bottom: 40px;
}