@import '../vars';

.err-notif {
    position: absolute;
    background-color: darkred;
    border: 1px solid $white05;
    border-radius: 8px 8px 0px 0px;
    color: white;
    font-size: 18px;
    bottom: 0px;
    left: 0px;

    h4 {
        padding: 0px;
        margin: 0px;
        text-decoration: underline;
        color: gold;
    }

    span {
        white-space: pre-wrap;
    }

    .text-imp {
        text-transform: uppercase;
    }
}