.err-notif {
  position: absolute;
  background-color: darkred;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px 8px 0px 0px;
  color: white;
  font-size: 18px;
  bottom: 0px;
  left: 0px;
}
.err-notif h4 {
  padding: 0px;
  margin: 0px;
  text-decoration: underline;
  color: gold;
}
.err-notif span {
  white-space: pre-wrap;
}
.err-notif .text-imp {
  text-transform: uppercase;
}/*# sourceMappingURL=style.css.map */